/* ogólne klasy */
body {
    font-family: 'Montserrat', cursive;

}


.btn {
    background: lighten(#333, 10%);
    display: inline-block;
    padding: 10px 5px;
    width: 100px;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 10px;
    font-family: 'Comfortaa', cursive;

}


.land
{
    fill: lighten(#333, 10%);
    fill-opacity: 0,9;
    stroke:#fff;
    stroke-opacity: 1;
    stroke-width:0.5;
   
}


.visibleCountry {
    color: red;
    fill: currentColor;
}

.hide{
    display: none;
}

.visisble {
    display: block;
}

