.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    margin: 0 auto;
}

.list__box {
    display: none;
    background: rgba(240, 221, 221, 0.5);
    box-shadow: 5px 5px 20px grey;
    width: 60%;
    height: 600px;
    position: absolute;
    top: 100%;
    opacity: 0;
    transition: 1s all; 
    margin-bottom: 30px;
}

.list__box__title {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 20px;
    padding: 10px;

}
.list__box--visited,
.list__box--wish {
  
}

.second-page__box--exit{
    position: absolute;
    top: 0;
    left: 95%;
}

.countryInfo {
    display: inline-block;
    margin: 10px 0;
}

.visited{
    color: rgb(230, 203, 51);
    fill: currentColor;
}

.notVisited{
    color: black;
    fill: currentColor;
}

.fas.fa-check{
    margin-right: 10px;
    color: green;
}