/* second page */
body {
    position: relative;
}

.second-page {
    width: 100%;
    margin: 120px 0;
    position: absolute;
    top: -100%;
    // opacity: 0;
    display: none;
    background: #fff;
    transition: 1s all; 

    .col-6-12 {
        padding-left: 0;
        padding-right: 0;
    }

}


.second-page__box{
    margin: 0 auto;
    height: 750px;
    width: 95%;
    background: rgba(240, 221, 221, 0.5);
    border: 2px solid white;
    box-shadow: 3px 3px 15px 4px  rgba(226, 221, 188, 0.904);
    position: relative;

}

// exit

.fa {
    font-size: 30px;
    position: absolute;
    top:0;
    left: 96%;
    margin-left: 5px;
    color: #333;
    z-index: 3;
}

//both boxes
.second-page__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 750px;

  

}

.second-page__title{
    color: $fontColor;
    font-weight: 800;
    text-transform: uppercase;
    z-index: 1;
    font-size: 25px;
}

//bottom box weather
.second-page__list--weather{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    padding: 50px;
    position: absolute;
    top:70%;
    left: 33%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-page__list--right {
    list-style: none;


}

.second-page__title--small{
    text-align: center;
    font-size: 19px;
    z-index: 1;
    text-transform: uppercase;


}

.elRightList{
    padding: 10px;
    font-size: 17px;
    color: $fontColor;
    font-weight: 600;
 
}

//sun right box
.second-page__list--sun{
    display: none;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgb(235, 235, 88);
    box-shadow: 0 0 50px lighten(yellow, 30%);
    position: absolute;
    top: 30px;
    left: 40%;
    z-index:0;
}

//moon right box
.second-page__list--moon{
    display: none;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 6px yellow;
    position: absolute;
    top: 0;
    left: 40%;
}

.night {
    background: url('../images/nature-milky-way-night-stars-102539 (1).jpeg') repeat-x;
    background-size: cover;
    position: absolute;
    transition: 2s all;
    animation: moveObject linear 20s infinite;
}


.day {
    background: url('../images/day.jpeg') repeat-x;
    background-size: cover;
    position: absolute;
    opacity: 0.9;
    transition: 2s all;
    animation: moveObject linear 20s infinite;
}

@keyframes moveObject{
    from {background-position: 0, 0;}
    to {background-position: 100%, 0;}
}


// @keyframes moveCloud{
//     from {background-position: 0, 0;}
//     to {background-position: 100%, 0;}
// }

.btnAdd {
    text-align: left;
    padding: 10px 10px;
    margin-top: 30px;
}


.icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    position: absolute;
    bottom: -80px;
    left: 45%;
    transform: translate(-15%, -80%);
    margin: 15px 0;
}

.time {

    font-size: 20px;
    color: rgb(97, 20, 20);
    text-align: center;
    font-weight: 600;
}




//left box
.second-page__list--left{
    list-style: none;
    background: rgba(240, 221, 221, 0.9);
    box-shadow: 3px 3px 5px #333;
    opacity: 0.9;
    padding: 10px;
}



.elInfo {
    padding: 20px;
    font-size: 20px;
    color: $fontColor;
    font-weight: 600;
  
}

.leftBoxBackground {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// .flags {
//     width: 120px;
//     height: 70px;
//     display: inline-block;
//     position: absolute;
//     top: 90%;
//     left: 20%;
//     transform: translate(-15%, -80%);
//     margin: 15px 0;

// }
